html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    block-size: inherit;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.header {
    margin-top: 78px;
    margin-bottom: 102px;
    
    }
.menu ul {
    padding-inline-start: 0;
    width: 900px;
    text-align: center;
}

.menu_item {
    display: inline-block;
}

.menu_item a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    width: 143px;
    color: #626262;
}

.menu_item :hover,
.menu_item :focus {
    color: #03a9f4;
}

.content_list {
    font-size: 0;
}

.content_item {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    margin-bottom: 132px;
}

.content_item:nth-child(2n) {
    margin-right: 0px;
}

.content_item:nth-last-of-type(-n+2) {
    margin-bottom: 0px;
}

.img_comment {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    margin-top: 32px;
    margin-bottom: 28px;
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
}

.article_head {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 34px;
    color: #626262;
    font-family: 'Playfair Display', serif;
}

.article_text {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #626262;
    font-family: 'Playfair Display', serif;
}

.buttons {
    display: inline-block;
    text-align: center;
    margin-top: 54px;
    margin-bottom: 70px;
}

.button-load_more {
    margin: 0 auto;
    height: 58px;
    width: 162px;
    font-size: 20px;
    color: #626262;
    font-family: 'Playfair Display', serif;
    line-height: 24px;
    background: white;
    border: solid 1px #626262;
}

.button-load_more:hover,
.button-load_more:focus {
    cursor: pointer;
    background: gray;
    color: white
}
